body{
    width: 393px;
    height: 768px;
}
input{
    transition-timing-function: ease;
    transition: all 0.1s;
}
#timer {
    font-size: 250%;
    position: absolute;
    top: 60px;
    left: 10px;
}

#num {
    font-size: 250%;
    position: absolute;
    top: 15px;
    left: 100px;
}

#comment {
    position: absolute;
    top: 10px;
    left: 250px;
}

#butn1 {
    position: absolute;
    top: 300px;
    left: 300px;
}

#butn2 {
    position: absolute;
    top: 200px;
    left: 50px;
}

#butn3 {
    position: absolute;
    top: 380px;
    left: 200px;
}

#butn4 {
    position: absolute;
    top: 178px;
    left: 420px;
}

#butn5 {
    position: absolute;
    top: 450px;
    left: 342px;
}

#butn6 {
    position: absolute;
    top: 74px;
    left: 300px;
}

#butn7 {
    position: absolute;
    top: 453px;
    left: 123px;
}

#butn8 {
    position: absolute;
    top: 200px;
    left: 200px;
}

#butn9 {
    position: absolute;
    top: 345px;
    left: 22px;
}

#butn10 {
    position: absolute;
    top: 120px;
    left: 120px;
}
.notVisible {

    background: transparent;
    border: none !important;
    font-size:0;
}